
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutXacNhanDon.cshtml";
}

@*<h2>Đơn hàng của bạn đã được ghi nhận, chúng tôi sẽ liên hệ bạn trong thời gian ngắn nhất</h2>
    <p>
        @Html.ActionLink("Về trang chủ", "Index", "Home")
    </p>*@
<div class="red-border">
    <h2>Đơn hàng của bạn đã được ghi nhận, chúng tôi sẽ liên hệ bạn trong thời gian ngắn nhất</h2>
</div>

<div class="green-button">
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</div>